.profile {
    margin-top: 30px;
    height: 400px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.leftcolumn {
  float: left;
  width: 35%;
}

.rightcolumn {
  float: left;
  width: 65%;
  padding-left: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.profile-img {
    width: 270px;
    height: 400px;
}

